@import url('https://fonts.googleapis.com/css?family=Lato');

*{
  font-family: 'Lato', sans-serif;
  margin:0;
  color:white;
}

html,body {
  height: 100%;
}

#root{
  height: inherit;
}

.App {
  text-align: center;
  height: 100%;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content{
  height: inherit;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center {
  width: 70%;
  margin: auto;
}

.centerImg {
  font-family: 'Lato', sans-serif;
  background-image: url('./Pictures/header.jpeg');
  background-size : cover;
  background-position: bottom;
  height: 170px;
  z-index: 1;
}

.bigTitle {
  color:white;
  position: absolute;
  left: 0;
  top:70px;
  width: 100%;
  text-align: center;
}

.centercolor {
  background-color: black;
  opacity: 0.5;
  position: absolute;
  top: 0px;
  height: 170px;
  width: 70%;
  margin: auto;
}

.buttonbg{
  background-color: #212121;
  height: 75px;
}

.customButtom{
  width: 45%;
  height: 75%;
  margin: 10px 2%;
  background-color: black;
  color:white;
  border:none;
}

.alignLeft{
  text-align: left;
}

.tableTitle{
  background-color: #907114;
  color:white;
  font-size: 20px;
  padding: 20px 70px;
}

.rowData{
  font-size: 20px;
  padding: 20px 70px;
}


.nospacing{
  border-spacing: 0px;
  width: 100%;
}

.albumtitle{
  text-align: left ;
}

td{
  font-size: 20px;
  padding: 20px 70px;
}

tr{
  height: 40px;
}
tr:nth-child(even) {
  background-color: #373737;
}

.tableContainer{
  height: 100%;
  background-color: #212121;
}



@media screen and (max-width: 640px) {
  .center {
    width: 100%;
    margin: auto;
  }

  .customButtom{
    width: 90%;
    height: 34%;
    margin: 2%;
    background-color: black;
    color:white;
    border:none;
  }

  .buttonbg{
    height: 150px;

  }

  .topButton{
    margin: 4% 4% 2% 4%;
  }

  .bottomButton{
    margin: 2% 4% 2% 4%;
  }

  .centercolor {
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    height: 170px;
    width: 100%;
    margin: auto;
  }

  .tableTitle{
    background-color: #907114;
    color:white;
    font-size: 15px;
    padding: 20px 70px;
  }

  .titleLeft{
    padding-left: 50px;
    width: 70%;
  }

  .titleRight{
    padding-right: 22px;
  }

  .albumtitle{
    text-align: center ;
  }

  .playlisttitle{
    text-align: left;
  }

  .playlistsize{
    text-align: right;
  }

  .onePlaylist{
    padding: 20px 50px;
    font-size: 15px;
  }

  td{
    padding: 20px 50px;
  }

}
